@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blinking-cursor {
  font-weight: bold; /* Make it a bit more visible */
  animation: blink 1s step-end infinite;
  /* We use step-end to get a sharp blink, not a fade */
}